{% extends "base.twig" %}
{% block title %}ログイン{% endblock %}
{% block menu %}
              <li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="span6 offset3">
		<h1>お問い合わせ完了</h1>
		<div class="well">
		    <br />
		    お問い合わせ番号は{{contact_id}}です。<br />
		    <br />
		    <br />
		    <br />
		    <div align="center">
		    <a href="/" class="btn btn-primary">トップへ戻る</a>	
		    </div>
		</div>
            </div>
        </div>
{% endblock %}
