{% extends "base.twig" %}
{% block title %}Voyage EC{% endblock %}
{% block menu %}
              <li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>コンテンツ詳細</h1>
    </div>

    <div class="page-content">
        <p>{{ content.description }}</p>
    </div>

{% endblock %}
