{% extends "base.twig" %}
{% block content %}
<div class="row">
    <div class="span6 offset3">
        <div class="alert-error">
            <p><strong>Error:　</strong>{{ message }}</p>
        </div>
    </div>
</div>
{% endblock %}
