{% extends "base.twig" %}
{% block title %}ログアウト{% endblock %}
{% block login %}
                <li><a href="/user/login">ログイン</a></li>
{% endblock %}
{% block content %}
      <div class="hero-unit">
        <p>ログアウトしました。再度ログインする場合は<a href="/user/login">こちら</a>からログインしてください。</p>
      </div>
{% endblock %}
